.gallery {
    display: flex;
    flex-wrap: wrap;
    margin : 0 auto;
    padding-top: 30px;
    flex-direction: column;
    max-width: 1000px;
}

a {
    text-decoration: none;
}

.new {
    margin: 10px auto;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding: 8px 20px;
    background-color: #aa22ee;
    transition: 0.4s;
}

.new:hover {
    transition: 0.4s;
    background-color: #9911aa;
}

.album {
    display: flex;
    flex-direction: column;
    background-size: contain;
    transition: .2s linear;
}

.album:hover {
    transform: scale(1.1);
}

.image{
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 10px;
    transition: 0.5s;
    border-radius: 5px;
}

.image_text-wrapper {
    border-radius: 5px;
    display:flex;
    opacity: 0;
    width: 100%;
    text-align:center;
    font-size: 28px;
    font-weight: 600;
    color : white;
    transition: 0.5s;
}

.image_text-wrapper:hover{
    backdrop-filter: blur(10px);
    opacity: 1;
    transition: 0.5s;
}

.image_text {
    margin: auto;
}

.wr {
    margin-bottom: 5px;
    display: flex;
}

.name {
    font-size : 23px;
    font-weight: 700;
    color : black;
    transition: color .2s linear;
    text-align: center;
}

.author {
    width: fit-content;
    background-color: #5ecb43;
    border-radius: 20px;
    font-size: 16px;
    color : white;
    padding: 8px 12px;
    font-weight: bold;
}

.date {
    font-size: 16px;
    color : black;
    padding: 8px 12px;
    font-weight: normal;
    text-align: center;
}

.images_count {
    font-size: 11px;
    color : black;
    font-weight: inherit;
    text-align: center;
}

.line {
    margin-top: 15px
}

#media (max-width: 1000px) {
    .image {
        height: 400px;
    }
}

#media (max-width: 600px) {
    .image {
        height: 300px;
    }
}
