.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin : 0 auto;
    padding-top: 30px;
    flex-direction: column;
    max-width: 1000px;
}

a {
    text-decoration: none;
}

.album {
    display: flex;
    flex-direction: column;
    background-size: contain;
    transition: .2s linear;
}

.album:hover {
    transform: scale(1.1);
}

.image{
    display: flex;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.image_text-wrapper {
    display:flex;
    opacity: 0;
    width: 1000px;
    height: 500px;
    text-align:center;
    font-size: 28px;
    font-weight: 600;
    color : white;
    transition: 0.5s;
}

.image_text-wrapper:hover{
    backdrop-filter: blur(10px);
    opacity: 1;
    transition: 0.5s;
}

.image_text {
    margin: auto;
}

.name {
    font-size : 23px;
    font-weight: 700;
    color : black;
    transition: color .2s linear;
    text-align: center;
}

.author {
    font-size: 16px;
    color : black;
    font-weight: bold;
    text-align: center;
}

.date {
    font-size: 14px;
    color : black;
    font-weight: normal;
    text-align: center;
}

.images_count {
    font-size: 11px;
    color : black;
    font-weight: inherit;
    text-align: center;
}

.line {
    margin-top: 15px
}
