.article,.comments{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.comments {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #fafafa;

    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.19);
    border-radius: 15px;
    height: fit-content;
}

.name {
    font-size: 50px;
    margin: 10px auto;
    font-weight: 700;
}

.theme {
    font-size: 18px;
    color: white;

    background-color: orange;
    border-radius: 50px;
    justify-content: center;
    width: fit-content;
    padding: 3px 10px;
    height: 20px;
    text-transform: uppercase;

    margin: 0 auto;
}

.date {
    font-size: 16px;
}

.text {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.author{
    font-size: 20px;
}

.form_text{
    display: flex;
    margin: 20px auto;
    max-width: 1000px;

    box-shadow: 4px 4px 10px orange;
    background-color: #fafafa;
    border-radius: 15px;
    padding: 25px;
    height: fit-content;
}

.comment_author{
    font-size: 16px;
    color: black;
}

.comment_date{
    font-size: 16px;
    color: black;
}

.comment_text{
    font-size: 20px;
    color: black;
}

.input {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 20px;

    background-color: orange;
    box-shadow: 4px 4px 10px rgb(0,0,0,0.19);
    border-radius: 15px;
    height: 150px;

    width: fit-content;
}

.deleteBtn {
    background-color: transparent;
    position: relative;
    border: none;
    margin: 0 97%;
}

.icon {
    transform: scale(1.2);
    transition: .2s linear;
}

.deleteBtn:hover > .icon {
    transform: scale(1.5);
    cursor: pointer;
}

.deleteBtn:hover > .icon path {
    fill: rgb(168, 7, 7);
}

.deleteBtn:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
}

textarea[name='input_comment']{
    width: 100%;
    resize: block;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.new_comment{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: row;
    max-width: 1000px;

    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    padding: 15px;
    background-color: #fafafa;
    border-radius: 15px;
    height: fit-content;
    margin-bottom: 100px;
}

.sendBtn {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    width: 125px;
    height: 50px;
    margin-left: 15px;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;

    transition: color .2s linear;
    transition: transform .2s linear;
}

.sendBtn span {
    display: block;
    margin-left: 0.3em;
}

.sendBtn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.2 linear;
}

.sendBtn:hover{
    transform: scale(0.95);
}