.hat {
    width: 100%;
    height: 500px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    transition: 0.5s;
    color: white;
}

.hat-wrap {
    width: 30%;
    margin: 0 auto 0 10%;
}

.welcome {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    color: orange;
    font-size: 28px;
    font-weight: bold;
}

.title {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    font-size: 22px;
}
