.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.tools {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 120px;
  right: 20px;
  width: 100px;
  background-color: white;
}

.tool {
  width: 100%;
  background-color: #efefef;
  padding: 6px 14px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  margin: 8px auto;
  font-size: 18px;
  transition: 200ms;
}

.Size {
  color: white;
  background-color: #b832b8;
}
.size {
  color: inherit;
  background-color: inherit;
  width: 20px;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  font-family: 'Rubik', sans-serif;
  appearance: none;
    outline: none;
    border: none;
    -moz-appearance: textfield;
}

#Bold {
  font-weight: 700;
}
#Italic {
  font-style: italic;
}

.theme {
  margin: 10px 0;
  border: none;
  width: 100%;
  font-size: 22px;
}

.title {
  margin-top: 10px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 35px;
}
.theme,.title {
  border: none;
}
.text {
  margin-top: 10px;
  width: 100%;
  min-height: 200px;
}

.title:focus,.text:focus {
  outline: none;
  border: none;
}

.submit {
    margin: 10px auto;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #aa22ee;
    transition: 0.4s;
}

.submit:hover {
    transition: 0.4s;
    background-color: #9911aa;
}
