.tools {
  display: flex;
  background-color: #efefef;
  border-radius: 10px 0 0 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 120px;
  right: 0px;
  width: 200px;
}

.tool {
  display: flex;
  width: 100%;
  padding: 6px 14px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  margin: 8px auto;
  font-size: 18px;
  transition: 200ms;
}

.Size {
  color: white;
  background-color: #aa22ee;
}
.size {
  color: inherit;
  background-color: inherit;
  width: 20px;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  font-family: 'Rubik', sans-serif;
  appearance: none;
    outline: none;
    border: none;
    -moz-appearance: textfield;
}

#output {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
}
.img {
  display: flex;
  width: 100%;
}
.image {
  display: flex;
}

#Bold {
  font-weight: 700;
}
#Italic {
  font-style: italic;
}

.theme {
  margin: 10px 0;
  border: none;
  width: 100%;
  font-size: 22px;
}

.title {
  font-weight: 700;
  background: none;
  margin: 10px auto;
  border: none;
  color: black;
  text-align: center;
  font-size: 45px;
}
.text {
  max-width: 1000px;
  margin-top: 10px;
  width: 100%;
  min-height: 200px;
}

.title:focus,.text:focus {
  outline: none;
  border: none;
}

.title-wrap {
  display: flex;
  flex-direction: column;
}

.submit {
    margin: 10px auto;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #aa22ee;
    transition: 0.4s;
}

#upload,#preview {
  display: none;
}

#upload-label,#preview-label {
  background-color: #aa22ee;
  color: white;
  border-radius: 5px;
  margin: 10px auto;
  padding: 8px 12px;
}

.submit:hover {
    transition: 0.4s;
    background-color: #9911aa;
}
