{{define "album.html"}}
<!DOCTYPE html>
<html>
  <head>
    <title>album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/public/pages/css/header.css" type="text/css" rel="stylesheet">
    <link href="/public/pages/css/album.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    {{template "header" .}}
    <button type="button" class="deleteBtn" aria-label="Close" id="deleteBtn" data-album-id="{{ .album.Id }}"></button>
    <div class="container" id="albums{{ .album.Id }}">
      <div class="name">{{ .album.Name }}</div>
      <div class="author">By {{ .album.Author }}</div>
      <div class="date">Created {{ .album.Date }}</div>
      <div class="description">{{ .album.Description }}</div>
      <div class="images">
      {{range .paths}}
      <a href="/public/albums/{{.}}.jpeg"><img class="image" src="/public/albums/{{.}}-compressed.jpeg"></a>
      {{end}}
      </div>
    </div>
  <script src="/public/pages/album.js"></script>
  </body>
</html>
{{end}}
