{{define "allAlbums.html"}}
<!doctype html>
<html>
<head>
    <title>all albums</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href = "/public/pages/css/allAlbums.css" type = "text/css" rel = "stylesheet">
    <link href = "/public/pages/css/header.css" type = "text/css" rel = "stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    {{template "header" .}}
    <div class="gallery">
        {{ range .albums }}
            <a href = "/albums/{{ .Id}}">
        <div class="album">
            <div class="image" style="background-image: url(/public/albums/{{ .Date }}-{{ .Name }}/0-compressed.jpeg);">
                <div class="image_text-wrapper">
                    <div class="image_text">Show {{ .Images_count }} images</div>
                </div>
            </div>
            <div class="name">{{ .Name }}</div>
            <div class="wr">
                <div class="author">By {{ .Author }}</div>
                <div class="date">Created {{ .Date }}</div>
            </div>
        </div>
            </a>
        {{end}}
    </div>
</body>
</html>
{{end}}
