{{define "header"}}
<div class="header">
    <div class="header-name">
      <a href = "/">ECLIPSE.COM</a>
    </div>
</div>
<div class="header2">
  <div class="ref-block">
    <a href="/albums" class="ref">albums</a>
    <a href="/articles" class="ref">articles</a>
    {{ if eq .header "sign in" }}
    <a href="/auth/sign-in" class="ref right">sign-in</a>
    {{ else }}
    <div class="ref right">{{ .welcome }}{{ .header }}</div>
    <a href="/auth/log-out" class="logout">log-out</a>
    {{end}}
  </div>
</div>
{{end}}
