{{define "home.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eclipse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href = "/public/pages/css/home.css" type = "text/css" rel = "stylesheet">
    <link href = "/public/pages/css/header.css" type = "text/css" rel = "stylesheet">
    <link href = "/public/pages/css/footer.css" type = "text/css" rel = "stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="introduction" id="introduction">
        <div class="hat" style="background-image: url(/public/images/moon-phases-moon.gif)" id="gif"></div>
        <div class="text_block">
            <div class="hat-wrap">
                <div class="welcome">Добро пожаловать в мир "Eclipse"!</div>
                <div class="title">От захватывающих статей до удивительных фактов о планетах и космических явлениях.</div>
                <div class="title">От ярких созвездий до глубоких туманностей – каждая фотография расскажет свою уникальную историю.</div>
                <div class="title">Присоединяйтесь к нашему космическому сообществу!</div>
            </div>
        </div>
    </div>
    <div class="container" id="container_page">
    {{template "header" .}}
    <div class="main_page" id="main_page">
        <div class="article_section">
        <div class="article_title">The latest articles</div>
        <div class="articles">
            {{ range .articles }}
            <a href="/articles/{{ .ID }}" class="article">
                <div class ="image" style="background-image: url(/public/articles/{{ .Date }}-{{ .Name }}/preview.jpeg)">
                    <div class="info">
                    <div class="theme">{{ .Name }}</div>
                    <div class="author">Written by {{ .NameAuthor }}</div>
                    <div class="date">{{ .Date }}</div>
                    </div>
                </div>
                <div class="text" id="text{{ .ID }}" data-article-text="{{ .Text }}"></div>
                <script>
                    document.getElementById(`text${ {{ .ID }} }`).innerHTML = {{ .Text }};
                </script>
            </a>
            {{end}}
        </div>
        </div>
        <div class="album_section">
        <div class="album_title">The latest albums</div>
        <div class="albums">
            {{ range .albums }}
            <a href="/albums/{{ .Id }}" class="album">
                <div class="image" style="background-image: url(/public/albums/{{ .Date }}-{{ .Name }}/0-compressed.jpeg)"></div>
                <div class="albumInfo">
                    <div class="nameAlbum">{{ .Name }}</div>
                    <div class="authorAlbum">Uploaded by {{ .Author }} {{ .Date }}</div>
                    <div class="count">Contains {{ .Images_count }} images</div>
                </div>
            </a>
            {{end}}
        </div>
        </div>
    </div>
    {{ template "footer" .}}
    </div>
<script src="/public/pages/js/home.js"></script>
</body>
</html>
{{end}}
