{{define "home.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eclipse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href = "/public/pages/css/home.css" type = "text/css" rel = "stylesheet">
    <link href = "/public/pages/css/header.css" type = "text/css" rel = "stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="hat" style="background-image: url(/public/images/moon.jpg">
        <div class="hat-wrap">
            <div class="welcome">Добро пожаловать в мир "Eclipse"!</div>
            <div class="title">От захватывающих статей до удивительных фактов о планетах и космических явлениях.</div>
            <div class="title">От ярких созвездий до глубоких туманностей – каждая фотография расскажет свою уникальную историю.</div>
            <div class="title">Присоединяйтесь к нашему космическому сообществу!</div>
        </div>
    </div>
    {{template "header" .}}
</body>
</html>
{{end}}
