{{define "newArticle.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/public/pages/css/header.css" type="text/css" rel="stylesheet">
    <link href="/public/pages/css/newArticle.css" type="text/css" rel="stylesheet">
    <link href="/public/pages/css/footer.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    {{template "header" .}}
    <div class="container">
        <div class="tools">
            <a class="tool" onclick="bold()" id="Bold">bold</a>
            <a class="tool" onclick="italic()" id="Italic">italic</a>
            <div class="tool Size">size: <input type="number" class="size" id="Size" value="16" min="1" max="99"></div>
            <input type="file" id="upload" name="upload" multiple></a>
            <label id="upload-label" for="upload">upload</label>
            <output id="output"></output>
        </div>
        <input class="theme" id="theme" placeholder="theme">
        <div class="title-wrap">
            <input class="title" id="title" style="color: black;" placeholder="title">
        </div>
        <input type="file" class="preview" id="preview" name="preview">
        <label id="upload-label" for="preview">preview</label>
        <div class="text" id="text" onclick="select()" contenteditable ondrop="drop(event)" ondragover="allowDrop(event)">
            <div>text...</div>
        </div>
        <a class="submit" onclick="submit()">submit</a>
    </div>
    {{template "footer" .}}
    <script src="/public/pages/js/newArticle.js"></script>
</body>
</html>
{{end}}
