{{define "newAlbum.html"}}
<!DOCTYPE html>
<html>
  <head>
    <title>new album</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/public/pages/css/header.css" type="text/css" rel="stylesheet">
    <link href="/public/pages/css/newAlbum.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    {{template "header" .}}
    <div class="container">
      <div class="wrapper">
        <form class="form" action="/albums/new" method="post" enctype="multipart/form-data">
          <div class="action">UPLOAD ALBUM</div>
          {{if .error}} <div class="row"><div class="error">{{.error}}</div></div> {{end}}
          <div class="row"><input class="input" type="text" name="name" placeholder="name" required></div>
            <div class="row"><input class="input" type="date" name="date" placeholder="date" required></div>
            <div class="row"><input class="input" type="text" name="author" placeholder="author" required></div>
            <div class="row"><input class="images" id="images" type="file" name="files" placeholder="images" multiple required></div>
            <div class="row"><textarea class="description" name="description" placeholder="description"></textarea></div>
            <div class="row"><input class="submit" type="submit" value="Submit"></div>
        </form>
        <div class="image-wrapper">
          <img class="image" src="/public/images/mars.jpg">
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
