{{define "newArticle.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New article</title>
    <link href="/public/pages/css/header.css" type="text/css" rel="stylesheet">
    <link href="/public/pages/css/newArticle.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    {{template "header" .}}
    <div class="container">
        <div class="tools">
            <a class="tool" onclick="bold()" id="Bold">bold</a>
            <a class="tool" onclick="italic()" id="Italic">italic</a>
            <div class="tool Size">size: <input type="number" class="size" id="Size" value="16" min="1" max="99"></div>
        </div>
        <div class="title" contenteditable>
          Title
        </div>
        <div class="text" onclick="select()" contenteditable>
            <div>text...</div>
        </div>
    </div>
    <script src="/public/pages/js/newArticle.js"></script>
</body>
</html>
{{end}}
